*{
    font-family: Verdana;
    font-size: 16px;
}
/*Header*/

  /*Navigation*/

nav{
    height: 64px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
    top: 0;
}
nav .portrait_icons{
    display: none;
}
nav .left{
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .left img{
    height: 50%;
    width: 32px;
}
nav .left .text{
    font-size: 100%;
}
.text{
    font-weight: bold;
}
.text.colmar{
    color: black;
}
.text.academy{
    color: gray;
    opacity: 0.8;
}
nav .right{
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
nav .right span{
    margin-right: 16px;
}
  /*Banner*/

  .banner{
      background-color: rgba(175, 171, 171, 0.7);
      width: 100%;
      display: inline-flex;
      padding-top: 64px;
      z-index: 1;
  }
  .banner .image{
    width: 60%;
    height: 100%;
    display: flex;
    margin: 32px 24px;
  }
  .banner .image img{
    width: 100%
  }
  .banner .text{
      width: 40%;
      box-sizing: border-box;
      margin-right: 10%;
      margin-left: 24px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;
  }
  button{
      height: 40px;
      width: 200px;
      padding: 5% auto;
      background-color: rgb(43, 53, 53);
      color: white;
      margin: auto;
      border: none;
      border-radius: 10px;
  }
  h1{
      font-size: 3rem;
      color: rgb(43, 53, 53)
  }
  h3{
      font-size: 2rem;
      color: rgba(43, 53, 53, 0.8)
  }
  /*Main*/

  /*First Section*/

  .practicing{
      background-color: white;
      display: inline-flex;
      width: 100%;
      margin-top: 32px;
  }
  .practicing .mobile{
      display: none;
  }
  .practicing .left{
      width: 60%;
      box-sizing: border-box;
      margin: 0 24px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
  }
  .practicing .left img{
      height: auto;
      width: 100%;
  }
  .bold{
      font-weight: bold;
  }
  .practicing h1{
      font-size: 2.5rem;
      color: rgba(43, 53, 53, 0.8);
  }
  p{
    color: rgba(43, 53, 53, 0.8);
  }
  .practicing .right{
      width: 40%;
      display: inline-flex;
      flex-wrap: wrap;
      align-content: flex-start;
  }
  .practicing .right .top{
      display: inline-flex;
      align-items: center;
  }
  .practicing .right .middle{
    display: inline-flex;
    align-items: center;
}
.practicing .right .bottom{
    display: inline-flex;
    align-items: center;
}
.practicing .right .image{
    margin: 16px 24px;
    width: 35%;
}
.practicing .right img{
    width: 100%;
}
.practicing .right .bottom .text{
    width: 65%;
}
.practicing .right .text{
    width: 65%;
}
.blue{
    color: lightskyblue;
}
h4{
    font-size: 1.5rem;
    color: rgba(43, 53, 53, 0.9);
}

  /*Second Section*/

.learning{
    background-color: rgba(175, 171, 171, 0.5);
    width: 100%;
    margin: 0;
}
.learning h1{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
    font-size: 2.5rem;
    color: rgba(13, 34, 34, 0.85);
}
.majors_mobile{
    display: none;
}
.majors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 72px;
}
.software_engineering,
.computer_art,
.design,
.data,
.business,
.marketing{
    width: 30%;
    background-color: white;
    margin-top: 24px;
    border-radius: 8px;
}
.majors img{
    width: 100%;
    height: auto;
}
.data,
.business,
.marketing{
    margin-bottom: 32px;
}
.majors h4,
.majors p{
    padding: 0 16px;
}
.majors p{
    color: gray;
    opacity: 0.8;
}

  /*Third Section*/

  .thesis_title h1{
    text-align: center;
    padding: 32px 0;
    font-size: 2.5rem;
    color: rgba(13, 34, 34, 0.85);
}
.thesis{
    background-color: white;
    display: inline-flex;
    width: 100%;
}
.thesis .thesis_mobile{
    display: none;
}
.thesis .left{
    width: 60%;
    box-sizing: border-box;
    margin: 0 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.thesis .left video{
    height: auto;
    width: 100%;
}
.thesis .right{
    width: 40%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-right: 24px;
}
.thesis .right .first{
    display: inline-flex;
    align-items: center;
}
.thesis .right .second{
  display: inline-flex;
  align-items: center;
}
.thesis .right .image{
  margin: 16px 24px;
  width: 35%;
}
.thesis .right img{
  width: 100%;
}
.thesis .right .text{
  width: 65%;
}

  /*Footer*/

footer{
    border-top: 2px solid gray;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    text-align: left;
    padding-left: 24px;
    width: 50%;
    font-size: 0.85rem;
}
footer span{
    float: right;
    padding-right: 24px;
}
footer span{
    color: rgba(43, 53, 53, 0.8);
    font-size: 0.85rem
}

@media only screen and (orientation: portrait){
    /*Nav*/
    nav .left,
    nav .right{
        display: none;
    }
    nav .portrait_icons{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    nav .portrait_icons{
        width: 100%;
    }
    /*Banner*/
    .banner{
        flex-wrap: wrap;
    }
    .banner .image{
        width: 100%;
        margin: 0;
    }
    .banner .text{
        width: 100%;
    }
    button{
        margin-bottom: 32px;
    }
    /*First Section*/
    .practicing .left,
    .practicing .right{
        display: none;
    }
    .practicing .mobile{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 2px dashed lightgray;
    }
    .practicing .mobile .topm,
    .practicing .mobile .middlem,
    .practicing .mobile .bottomm{
        box-sizing: border-box;
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
    .practicing .mobile .topm{
        margin-top: 16px;
    }
    .practicing .mobile .middlem{
        margin-top: 64px;
    }
    .practicing .mobile .bottomm{
        margin-top: 64px;
        margin-bottom: 32px;
    }
    .practicing .mobile h4,
    .practicing .mobile p{
        padding-left: 16px;
    }
    /*Second Section*/
    .learning{
        background-color: white;
        border-bottom: 2px dashed lightgray;
    }
    .learning .majors{
        display: none;
    }
    .learning .majors_mobile{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .learning .majors_mobile h4{
        box-sizing: border-box;
        width: 100%;
        background-color: rgba(175, 171, 171, 0.7);
        padding: 20px 0 20px 16px;
        margin: 8px 16px;
        border-radius: 8px;
    }
    #last_major{
        margin-bottom: 32px;
    }
    /*Third Section*/
    .thesis .right,
    .thesis .left h4,
    .thesis .left p{
        display: none;
    }
    .thesis .left{
        width: 100%;
    }
}