*{
    font-family: Verdana;
    font-size: 16px;
}
/*Header*/
  /*Navigation*/
nav{
    height: 64px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
    top: 0;
}
nav .left{
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .left img{
    height: 50%;
    width: 32px;
}
nav .left .text{
    font-size: 100%;
}
.text.academy{
    color: gray;
}
nav .right{
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
nav .right span{
    margin-right: 16px;
}
  /*Banner*/
  .banner{
      background-color: rgba(175, 171, 171, 0.7);
      width: 100%;
      display: inline-flex;
      padding-top: 64px;
      z-index: 1;
  }
  .banner .image{
    width: 60%;
    height: 100%;
    display: flex;
    margin: 32px 24px;
  }
  .banner .image img{
    width: 100%
  }
  .banner .text{
      width: 40%;
      box-sizing: border-box;
      margin-right: 10%;
      margin-left: 24px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;
  }
  button{
      height: 40px;
      width: 200px;
      padding: 5% auto;
      background-color: rgb(43, 53, 53);
      color: white;
      margin: auto;
      border: none;
      border-radius: 10px;
  }
  h1{
      font-size: 3rem;
      color: rgb(43, 53, 53)
  }
  h3{
      font-size: 2rem;
      color: rgb(43, 53, 53)
  }