*{
    font-family: Verdana;
    font-size: 16px;
}
/*Header*/

  /*Navigation*/

nav{
    height: 64px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
    top: 0;
}
nav .left{
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .left img{
    height: 50%;
    width: 32px;
}
nav .left .text{
    font-size: 100%;
}
.text{
    font-weight: bold;
}
.text.colmar{
    color: black;
}
.text.academy{
    color: gray;
    opacity: 0.8;
}
nav .right{
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
nav .right span{
    margin-right: 16px;
}
  /*Banner*/

  .banner{
      background-color: rgba(175, 171, 171, 0.7);
      width: 100%;
      display: inline-flex;
      padding-top: 64px;
      z-index: 1;
  }
  .banner .image{
    width: 60%;
    height: 100%;
    display: flex;
    margin: 32px 24px;
  }
  .banner .image img{
    width: 100%
  }
  .banner .text{
      width: 40%;
      box-sizing: border-box;
      margin-right: 10%;
      margin-left: 24px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;
  }
  button{
      height: 40px;
      width: 200px;
      padding: 5% auto;
      background-color: rgb(43, 53, 53);
      color: white;
      margin: auto;
      border: none;
      border-radius: 10px;
  }
  h1{
      font-size: 3rem;
      color: rgb(43, 53, 53)
  }
  h3{
      font-size: 2rem;
      color: rgba(43, 53, 53, 0.8)
  }
  /*Main*/

  /*First Section*/

  .practicing{
      background-color: white;
      display: inline-flex;
      width: 100%;
      margin-top: 32px;
  }
  .practicing .left{
      width: 60%;
      box-sizing: border-box;
      margin: 0 24px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
  }
  .practicing .left img{
      height: auto;
      width: 100%;
  }
  .bold{
      font-weight: bold;
  }
  h2{
      font-size: 1.75rem;
      color: rgba(43, 53, 53, 0.8);
  }
  p{
    color: rgba(43, 53, 53, 0.8);
  }
  .practicing .right{
      width: 40%;
      display: inline-flex;
      flex-wrap: wrap;
      align-content: flex-start;
  }
  .practicing .right .top{
      display: inline-flex;
      align-items: center;
  }
  .practicing .right .middle{
    display: inline-flex;
    align-items: center;
}
.practicing .right .bottom{
    display: inline-flex;
    align-items: center;
}
.practicing .right .image{
    margin: 16px 24px;
    width: 35%;
}
.practicing .right img{
    width: 100%;
}
.practicing .right .bottom .text{
    width: 65%;
}
.practicing .right .text{
    width: 65%;
}
.blue{
    color: lightskyblue;
}
h4{
    font-size: 1.5rem;
    color: rgba(43, 53, 53, 0.9);
}